{% extends 'base_layout.html' %}
{% block content %}


 <section class="content">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ana Sayfa

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Ana Sayfa</a></li>

            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
{#                            <h3>{{ total_athlete }}</h3>#}

                            <p>Sporcu Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            Daha Fazla <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
