{% extends 'base_layout.html' %}


{% block content %}

    <section>


        <!-- success modal -->
        <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">İşlem Başarılı</h4>
                    </div>
                    <div class="modal-body successModal">
                        ...
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <!-- -->
        <!-- delete modal-->
        <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Uyarı</h4>
                    </div>
                    <div class="modal-body">
                        <p>Silmek istediğinizden emin misiniz?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                                data-dismiss="modal">Evet
                        </button>
                        <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <!-- delete modal-->






        {% if messages %}
            {% for message in messages %}


                {% if message.tags is 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> UYARI!</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> BAŞARILI İŞLEM</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <form action="" method="post" enctype="multipart/form-data" class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Sınıflar</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->


                {% csrf_token %}
                <div class="box-body">
                    <!-- -->
                    <div class="row" style="margin: 0px">


                        <div class="nav-tabs-custom">

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <!-- -->
                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> {{ form_class.name.label }}</label>
                                                {{ form_class.name }}
                                            </div>
                                            <!-- /.form-group -->

                                        </div>

                                        <div class="col-md-6">

                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label> {{ form_class.education_year.label }}</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    {{ form_class.education_year }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <!-- -->


                                </div>
                                <!-- /.tab-pane -->


                            </div>
                            <!-- /.tab-content -->
                        </div>


                    </div>

                    <!-- -->


                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" value="Submit" class="btn btn-primary pull-right">Kaydet</button>
                    </div>


                </div>

                <hr>


                <!-- -->


                <div class="container">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Sınıf Listesi</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Sınıf Adı</th>
                                            <th>Eğitim Öğretim Yılı</th>
                                            <th>Sınıf Mevcudu</th>
                                            <th>Öğrenci Ekle</th>

                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if classes.all %}
                                            {% for class in classes %}
                                                <tr>
                                                    <td>{{ forloop.counter }} </td>

                                                    <td>{{ class.name }}</td>
                                                    <td>{{ class.education_year }}</td>
                                                    <td>{{ class.students.count }}</td>


                                                    <td>

                                                        <div class="btn-group">
                                                            <a class="btn btn-info"
                                                               onclick=""><i
                                                                    class="fa fa-info-circle"></i></a>
                                                            <a href="{% url "education:sinif-ogrenci-ekle" class.pk %}"
                                                               class="btn btn-warning"><i class="fa fa-plus"></i></a>

                                                        </div>


                                                    </td>
                                                    <td>
                                                        <div class="btn-group">

                                                            <a href="{% url "education:sinif-duzenle" class.pk %}"
                                                               class="btn btn-warning"><i class="fa fa-edit"></i>Güncelle</a>
                                                            <a class="btn btn-danger"  onclick=deleteClass({{ class.pk }})><i
                                                                    class="fa fa-trash"></i>Sil</a>
                                                        </div>
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                        {% endif %}

                                        </tbody>

                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->

                        <!-- -->


                    </div>
                </div>


            </div></form>


        </hr>


        <script>
            function deleteClass(id) {
                // $('#modal-danger').modal('show');
                var html = ''
                $("#modal-danger").on("shown.bs.modal", function (e) {
                    $("#btn-conf").click(function () {
                        $.ajax({
                            url: "{% url "education:sinif-sil" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                isActive: 'False'
                            },
                            success: function (result) {
                                debugger;
                                html = html + 'Sınıf Başarıyla Silindi';
                                debugger;
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "education:sinif-listesi" %}");

                                    });

                                }).modal('show');


                                console.log(result.status)
                            }
                        });
                    });
                }).modal('show');
                $('#btn-close').click(function () {
                    $('#modal-danger').modal('hide');
                });
                /*$.ajax({
                    url : "




                {#% url "patient:hasta-sil" pk=2121212 %#}".replace(/2121212/, id.toString()),
            type : "POST",
            data : {
                'csrfmiddlewaretoken' : "




                {#  #}{  csrf_token  }}",
                isActive : 'True'
                 },
            success : function(result) {
                console.log(result[0].status)
                }
        });*/
            }
        </script>
    </section>


{% endblock %}