{% extends 'base_layout.html' %}


{% block content %}

    <section>


        <!-- success modal -->
        <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">İşlem Başarılı</h4>
                    </div>
                    <div class="modal-body successModal">
                        ...
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <!-- -->
        <!-- delete modal-->
        <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Uyarı</h4>
                    </div>
                    <div class="modal-body">
                        <p>Silmek istediğinizden emin misiniz?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                                data-dismiss="modal">Evet
                        </button>
                        <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <!-- delete modal-->






        {% if messages %}
            {% for message in messages %}


                {% if message.tags is 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <form action="" method="post" enctype="multipart/form-data" class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Yemek Menüsü</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->


                {% csrf_token %}
                <div class="box-body">
                    <!-- -->
                    <div class="row" style="margin: 0px">


                        <div class="nav-tabs-custom">

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <!-- -->
                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> {{ form_food.menu.label }}</label>
                                                {{ form_food.menu }}
                                            </div>
                                            <!-- /.form-group -->

                                        </div>

                                        <div class="col-md-6">

                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label> {{ form_food.food_date.label }}</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    {{ form_food.food_date }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <!-- -->


                                </div>
                                <!-- /.tab-pane -->


                            </div>
                            <!-- /.tab-content -->
                        </div>


                    </div>

                    <!-- -->


                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" value="Submit" class="btn btn-primary pull-right">Kaydet</button>
                    </div>


                </div>

                <hr>


                <!-- -->


                <div class="container">
                <h2 style="text-align: center">Yemek Listesi</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="Carousel" class="carousel slide" data-ride="carousel" data-interval="false">


                                <!-- Carousel items -->
                                <div class="carousel-inner">


                                    {% for food in food_list %}


                                        {% if forloop.counter0|divisibleby:4 %}

                                            {% if forloop.counter0 == 0 %}

                                                <div class="item active">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="box box-warning" style="border-top-color: #3c8dbc">
                                                                <div class="box-header with-border">
                                                                    <h3 class="box-title">{{ food.food_date }}</h3>

                                                                    <div class="box-tools pull-right">
                                                                        <button type="button" class="btn btn-box-tool"
                                                                                onclick=deleteFood({{ food.pk }})>
                                                                            <i class="fa fa-trash-o"></i>
                                                                        </button>
                                                                        <a href ="{% url "education:yemek-duzenle" food.pk %}" type="button" class="btn btn-box-tool"><i
                                                                    class="fa fa-edit"></i>
                                                            </a>
                                                                    </div>
                                                                    <!-- /.box-tools -->
                                                                </div>
                                                                <!-- /.box-header -->
                                                                <div class="box-body">
                                                                    <ul class="list-group">
                                                                        {{ food.menu | safe }}

                                                                    </ul>
                                                                </div>
                                                                <!-- /.box-body -->
                                                            </div>
                                                        </div>


                                                        {% else %}

                                                    </div><!--.row-->
                                                </div><!--.item-->
                                                <div class="item">
                                                <div class="row">
                                                <div class="col-md-3">
                                                    <div class="box box-warning" style="border-top-color: #3c8dbc">
                                                        <div class="box-header with-border">
                                                            <h3 class="box-title">{{ food.food_date }}</h3>

                                                            <div class="box-tools pull-right">
                                                                <button type="button" class="btn btn-box-tool"
                                                                        onclick=deleteFood({{ food.pk }})>
                                                                    <i class="fa fa-trash-o"></i>
                                                                </button>
                                                                <a href ="{% url "education:yemek-duzenle" food.pk %}" type="button" class="btn btn-box-tool"><i
                                                                    class="fa fa-edit"></i>
                                                            </a>
                                                            </div>
                                                            <!-- /.box-tools -->
                                                        </div>
                                                        <!-- /.box-header -->
                                                        <div class="box-body">
                                                            <ul class="list-group">
                                                                {{ food.menu | safe }}

                                                            </ul>
                                                        </div>
                                                        <!-- /.box-body -->
                                                    </div>
                                                </div>
                                            {% endif %}


                                        {% else %}

                                            <div class="col-md-3">
                                                <div class="box box-warning" style="border-top-color: #3c8dbc">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">{{ food.food_date }}</h3>

                                                        <div class="box-tools pull-right">
                                                            <button type="button" class="btn btn-box-tool"
                                                                    onclick=deleteFood({{ food.pk }})>
                                                                <i class="fa fa-trash-o"></i>
                                                            </button>
                                                            <a href ="{% url "education:yemek-duzenle" food.pk %}" type="button" class="btn btn-box-tool"><i
                                                                    class="fa fa-edit"></i>
                                                            </a>
                                                        </div>
                                                        <!-- /.box-tools -->
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <div class="box-body">
                                                        <ul class="list-group">
                                                            {{ food.menu | safe }}

                                                        </ul>
                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                                <!-- /.box -->
                                            </div>



                                        {% endif %}









                                    {% endfor %}




                                    </div><!--.carousel-inner-->

                                    </div><!--.Carousel-->
  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                                </div>
                            </div>
                        </div><!--.container-->

                        <!-- -->


                    </div>
                </div>


        </form>


        </hr>


        <script>
            function deleteFood(id) {
                // $('#modal-danger').modal('show');
                var html = ''
                $("#modal-danger").on("shown.bs.modal", function (e) {
                    $("#btn-conf").click(function () {
                        $.ajax({
                            url: "{% url "education:yemek-sil" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                isActive: 'False'
                            },
                            success: function (result) {
                                debugger;
                                html = html + 'Yemek Menüsü Başarıyla Silindi';
                                debugger;
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "education:yemek-listesi" %}");

                                    });

                                }).modal('show');


                                console.log(result.status)
                            }
                        });
                    });
                }).modal('show');
                $('#btn-close').click(function () {
                    $('#modal-danger').modal('hide');
                });
                /*$.ajax({
                    url : "



                {#% url "patient:hasta-sil" pk=2121212 %#}".replace(/2121212/, id.toString()),
            type : "POST",
            data : {
                'csrfmiddlewaretoken' : "



                {#  #}{  csrf_token  }}",
                isActive : 'True'
                 },
            success : function(result) {
                console.log(result[0].status)
                }
        });*/
            }
        </script>
    </section>


{% endblock %}