{% extends 'base_layout.html' %}




{% block content %}
    {% load staticfiles %}
    <script
            src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
            crossorigin="anonymous"></script>

    <script src="{% static 'fieldChooser/js/jquery.lwMultiSelect.js' %}"></script>
    <section id="message">
        {% if messages %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>


            </div>
        {% endif %}







        <form action="" method="post" enctype="multipart/form-data" class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ class.name }} Sınıf Oluştur</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->


                {% csrf_token %}

                <div class="box-body">
                    <!-- -->
                    <div class="jquery-script-clear"></div>
                    <div class="container">


                        <p><select id="defaults" multiple="multiple">

                            {% for student in students %}

                                <option value="{{ student.id }}"
                                        data-img-src="{% if request.is_secure %}HTTPS{% else %}HTTP{% endif %}://{{ request.get_host }}/media/{{ student.profileImage }}">{{ student.user.first_name }} {{ student.user.last_name }}</option>
                            {% endfor %}


                            {% for student_exist in class.students.all %}

                                <option value="{{ student_exist.id }}"
                                        data-img-src="{% if request.is_secure %}HTTPS{% else %}HTTP{% endif %}://{{ request.get_host }}/media/{{ student_exist.profileImage }}">{{ student_exist.user.first_name }} {{ student_exist.user.last_name }}</option>

                            {% endfor %}


                        </select>

<script>
                            $(document).ready(function(){


                                getSelectedStudent({{ class.id }}) ;
// your code

});
                        </script>





                    <script type="text/javascript">




                        function getSelectedStudent(id) {
                            $.get(" {% url "education:secilen-ogrenciler" pk=12121   %}".replace(/12121/, id.toString()))
                                .done(function (response) {

                                    console.log(response);

                                    for (var student in response.students) {
                                        console.log(response.students[student].id);
                                        $("#defaults").find('option[value="' + response.students[student].id + '"]').attr("selected", "selected");
                                        $('#defaults').data('plugin_lwMultiSelect').updateList();
                                    }







                                });

                        }



                    </script>


                    <script>
                        //  $("#defaults").find('option[value="'+1+'"]').attr("selected","selected");*

                        //$('#defaults').data('plugin_lwMultiSelect').updateList();


                        jQuery('#defaults').lwMultiSelect(
                            {


                                onChange: function () {
                                    console.log($('#defaults').val());


                                    //$("#defaults").find('option[value="' + 1 + '"]').attr("selected", "selected");

                                    //$('#defaults').data('plugin_lwMultiSelect').selectItem({{ student.id }});
                                    /*$("#defaults").find('option[value="'+1+'"]').attr("selected","selected");*/
                                    /*$('#defaults').data('plugin_lwMultiSelect').updateList()*/
                                }
                            }
                        );


                    </script>


                    <!-- -->


                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a type="button" id="send" class="btn btn-primary pull-right">Kaydet</a>
                    </div>


                </div>
<script src="{% static 'alert/sweetalert.min.js' %}"></script>

                <script>


                    // yanit idli linke tıklanırsa çalış
                    $('#send').on('click', function (event) {

                        console.log("{{ csrf_token }}");


                        $.ajax({
                            url: "{% url 'education:sinif-ogrenci-ekle-kaydet' %}",
                            type: "post", // or "get"
                            data: {

                                values: $('#defaults').val(),
                                class: {{ class.pk }}
                            },
                            success: function (result) {

                                swal("Başarılı", "Sınıf başarıyla güncellendi.", "success");

                            }
                        });


                    });


                    function getCookie(name) {
                        var cookieValue = null;
                        var i = 0;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (i; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    var csrftoken = getCookie('csrftoken');

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }

                    $.ajaxSetup({
                        crossDomain: false, // obviates need for sameOrigin test
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type)) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });


                </script>

            </div>
        </form>
    </section>


{% endblock %}