{% extends 'base_layout.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}


    <section class="content-header">
        <h1>
            Antrenör Düzenle

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Antrenör Düzenle</a></li>

        </ol>
    </section>
    <section class="content">

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="row">

                <div class="col-lg-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Genel Bilgiler</h3>
                        </div>
                        <div class="box-body">
                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ person_form.profileImage.label }}</label>
                                        {{ person_form.profileImage }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ user_form.first_name.label }}</label>
                                        {{ user_form.first_name }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.motherName.label }}</label>
                                        {{ person_form.motherName }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.birthplace.label }}</label>
                                        {{ person_form.birthplace }}
                                    </div>

                                    <div class="form-group">
                                        <label style="padding-top: 16px"> {{ person_form.bloodType.label }}</label>
                                        {{ person_form.bloodType }}
                                    </div>


                                </div>
                                <br>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ person_form.tc.label }}</label>
                                        {{ person_form.tc }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ user_form.last_name.label }}</label>
                                        {{ user_form.last_name }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.fatherName.label }}</label>
                                        {{ person_form.fatherName }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.birthDate.label }}</label>
                                        {{ person_form.birthDate }}
                                    </div>


                                    <div class="form-group">
                                        <label> {{ person_form.gender.label }}</label>
                                        {{ person_form.gender }}
                                    </div>


                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>


                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">İletişim Bilgileri</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ user_form.email.label }}</label>
                                        {{ user_form.email }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.phoneNumber.label }}</label>
                                        {{ communication_form.phoneNumber }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.phoneNumber2.label }}</label>
                                        {{ communication_form.phoneNumber2 }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ communication_form.country.label }}</label>
                                        {{ communication_form.country }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.city.label }}</label>
                                        {{ communication_form.city }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ communication_form.postalCode.label }}</label>
                                        {{ communication_form.postalCode }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> {{ communication_form.address.label }}</label>
                                        {{ communication_form.address }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>


                    </div>

                </div>

            </div>

        </form>



      <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Kademe Bilgileri</h3>
                        </div>
                        <div class="box-body">
                            <div class="box-header with-border">
                                <div class="btn-group">

                                        <a href="{% url 'wushu:antrenor-kademe-ekle' coach %}"
                                           type="button" class="btn btn-success"><i
                                                class="fa fa-edit"></i> Kademe Ekle
                                        </a>

                                </div>
                            </div>
                            <table id="belt" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Hak Kazanma Tarihi</th>
                                    <th> Branş</th>
                                    <th> Tanımı</th>
                                    <th> Onay Durumu</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% if grades_form.all %}
                                    {% for grade in grades_form %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ grade.startDate }}  </td>
                                            <td>{{ grade.branch }}  </td>
                                            <td>{{ grade.definition }}  </td>
                                            <td>{{ grade.status }}  </td>
                                             {% if grade.status != 'Onaylandı' %}
                                                <td>
                                                    <div class="btn-group">
                                                        <a href=""
                                                           type="button" class="btn btn-warning"><i
                                                                class="fa fa-edit"></i>Güncelle
                                                        </a>
                                                        {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                                                            <a href=""
                                                               type="button" class="btn btn-success"><i
                                                                    class="fa fa-edit"></i>Onayla
                                                            </a>
                                                        {% endif %}
                                                        <a class="btn btn-danger"
                                                           data-toggle="modal" onclick=deleteClub({{ club.pk }})><i
                                                                class="fa fa-trash"></i>Reddet</a>

                                                    </div>
                                                </td>
                                            {% endif %}

                                        </tr>

                                    {% endfor %}
                                {% endif %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


    </section>

{% endblock %}



