{% extends 'base_layout.html' %}


{% block content %}

    <section>
        {% if messages %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>


            </div>
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data" class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Öğretmen Ekle</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->


                {% csrf_token %}
                <div class="box-body">
                    <!-- -->
                    <div class="row" style="margin: 0px">


                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i
                                        class="fas fa-user-graduate"></i>Öğretmen Özlük Bilgileri</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i
                                        class="fas fa-user-friends"></i>Öğretmen Profil Bilgileri</a></li>

                                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <!-- -->
                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> {{ form_user.first_name.label }}</label>
                                                {{ form_user.first_name }}
                                            </div>
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label> {{ form_user.last_name.label }}</label>
                                                {{ form_user.last_name }}
                                            </div>
                                            <div class="form-group">
                                                <label>{{ form_teacher.tc.label }}</label>

                                                {{ form_teacher.tc }}
                                                <!-- /.input group -->
                                            </div>


                                            <div class="form-group">
                                                <label>{{ form_teacher.address.label }}</label>

                                                {{ form_teacher.address }}
                                                <!-- /.input group -->
                                            </div>


                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-6">


                                            <div class="form-group">
                                                <label>{{ form_teacher.gender.label }}</label>

                                                {{ form_teacher.gender }}
                                                <!-- /.input group -->
                                            </div>


                                            <div class="form-group">
                                                <label>{{ form_teacher.birthDate.label }}</label>

                                                {{ form_teacher.birthDate }}
                                                <!-- /.input group -->
                                            </div>




                                            <div class="form-group">
                                                <label>{{ form_teacher.mobilePhone.label }}</label>

                                                {{ form_teacher.mobilePhone }}
                                                <!-- /.input group -->
                                            </div>


                                            <label class="containerCheck">{{ form_user.is_active }}
                                                {{ form_user.is_active.label }}
                                                <span class="checkmark"></span>
                                            </label>


                                            <!-- -->


                                            <!-- /.form-group -->
                                        </div>


                                        <!-- /.row -->
                                    </div>


                                    <!-- -->


                                </div>
                                <!-- /.tab-pane -->


                                <!-- veli formu ekranı -->
                                <div class="tab-pane" id="tab_2">

                                    <div class="row">


                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label> {{ form_user.username.label }}</label>
                                                {{ form_user.username }}

                                            </div>

                                            <div class="form-group">
                                                <label>{{ form_teacher.profileImage.label }}</label>

                                                {{ form_teacher.profileImage }}
                                                <!-- /.input group -->
                                            </div>


                                        </div>
                                        <div class="col-md-6">

                                            <!-- /.form-group -->
                                             <div class="form-group">
                                                <label>{{ form_user.email.label }}</label>

                                                {{ form_user.email }}
                                                <!-- /.input group -->
                                            </div>


                                        </div>


                                    </div>


                                </div>
                                <!-- /.tab-pane -->

                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>


                    </div>

                    <!-- -->


                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" value="Submit" class="btn btn-primary pull-right">Kaydet</button>
                    </div>


                </div>

            </div>
        </form>
    </section>


{% endblock %}