{% extends 'base_layout.html' %}


{% block content %}
    <section class="content-header">
    {% if messages %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>


            </div>
        {% endif %}
        <h1>

            Öğrenci
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>

    <!-- delete modal-->
    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf" data-dismiss="modal">
                        Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!-- delete modal-->




    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height: -webkit-fill-available;">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Kayıtlı Öğretmenler</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Fotoğraf</th>
                                <th>Adı</th>
                                <th>Soyadı</th>

                                <th>Telefon</th>
                                <th>Aktif-Pasif Kullanıcı</th>


                                <th></th>
                            </tr>
                            </thead>
                        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>
                        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
                            <tbody>
                            {% if teachers.all %}
                            {% for teacher in teachers %}
                                <tr>
                                    <td>{{ forloop.counter }} </td>
                                    <td><img src="/media/{{ teacher.profileImage }}" width="50px" height="50px" /> </td>
                                    <td>{{ teacher.user.first_name }}</td>
                                    <td>{{ teacher.user.last_name}}</td>

                                    <td>{{ teacher.mobilePhone }}</td>
                                    <td>
                                        {% if teacher.user.is_active %}
                                            <input id="toggle-one" type="checkbox" checked data-toggle="toggle" data-on="Aktif" data-off="Kilitli" onchange="activeDeactive({{ teacher.user.id }}, false)" data-onstyle="success" data-offstyle="danger">
                                        {% else%}
                                            <input id="toggle-one" type="checkbox"  data-toggle="toggle" data-on="Aktif" data-off="Kilitli" data-onstyle="success" onchange="activeDeactive({{ teacher.user.id }}, true)" data-offstyle="danger">


                                         {% endif %}


                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-info" onclick="getTeacher({{ teacher.id }})"><i
                                                    class="fa fa-align-left"></i>Detay</a>
                                            <a href="{% url "education:ogretmen-duzenle" teacher.user.pk %}"
                                               class="btn btn-warning"><i class="fa fa-edit"></i>Güncelle</a>
                                            <a class="btn btn-danger" onclick="deactivePatient({{ teacher.user.pk }})"
                                               data-toggle="modal" data-target=".deneme222"><i class="fa fa-trash"></i>Sil</a>
                                                </div>
                                    </td>

                                </tr>

                            {% endfor %}
                            {% endif %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Adı</th>
                                <th>Soyadı</th>

                                <th>Telefon</th>

                                <th>Aktif-Pasif Kullanıcı</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

        </div>
        </div>


    </section>



    <script>
    /*
        function deactivePatient(id) {
         */

            // $('#modal-danger').modal('show');


         /*   $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {

                    $.ajax({
                        url: "".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            window.location.replace(" url "patient:index" %}");
                            console.log(result.status)
                        }
                    });

                });
            }).modal('show');


            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });


            /*$.ajax({
                url : "
            {#% url "patient:hasta-sil" pk=2121212 %#}".replace(/2121212/, id.toString()),
            type : "POST",
            data : {
                'csrfmiddlewaretoken' : "
            {#  #}{  csrf_token  }}",
                isActive : 'True'
                 },
            success : function(result) {
                console.log(result[0].status)
                }
        });
        } */




    function activeDeactive(user_id, is_true) {

        console.log("basıldı");
        $.ajax({
                            url: "{% url 'education:ogretmen-aktif-pasif' %}",
                            type: "post", // or "get"
                            data: {

                                user_id: user_id,
                                is_true: is_true
                            },
                            success: function (result) {
                                debugger;

                                if(result.status=='Success'){

                                swal("Başarılı", "Öğretmen başarıyla güncellendi.", "success");
                                $('#toggle-one').bootstrapToggle();
                                }
                                else{
                                    swal("Başarılı", result.messages, "error");
                                }



                            }
                        });



    }
    function getCookie(name) {
                        var cookieValue = null;
                        var i = 0;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (i; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    var csrftoken = getCookie('csrftoken');

                    function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }

                    $.ajaxSetup({
                        crossDomain: false, // obviates need for sameOrigin test
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type)) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });













        function getTeacher(id) {

            var html = '';
            $.get(" {% url "education:ogretmen-getir" pk=12121   %}".replace(/12121/, id.toString()))
                .done(function (response) {
                    var teacher = response.teachers[0];
                    html+=' <div class="box-body box-profile">';
                    html+=' <img class="profile-user-img img-responsive img-circle" src="'+response.teachers[0].profileImage+'" alt="User profile picture">';
                    html+='<h3 class="profile-username text-center">'+teacher.user.first_name+' '+teacher.user.last_name+'</h3>';
                    html+='<p class="text-muted text-center">'+teacher.user.username+'</p>';
                    html+=' <ul class="list-group list-group-unbordered">';
                    html+='<div class="row">';
                    html+='<div class="col-md-6">';
                    html+=' <li class="list-group-item">';
                    html+='<b>T.C.</b> <a class="pull-right">'+teacher.tc+'</a></li>';
                    html+=' <li class="list-group-item">';
                    html+='<b>Branşı</b> <a class="pull-right"></a></li>';
                    html+=' <li class="list-group-item">';
                    html+='<b>Cep Telefonu</b> <a class="pull-right">'+teacher.mobilePhone+'</a></li>';
                    html+=' <li class="list-group-item">';
                    html+='<b>Doğum Tarihi</b> <a class="pull-right">'+teacher.birthDate+'</a></li>';
                    html+=' <li class="list-group-item">';
                    html+='<b>Adres</b> <a class="pull-right">'+teacher.address+'</a></li></div>';

                    html+='<div class="col-md-6" style="border-left: thin solid #000000">';
                    html+=' <li class="list-group-item">';
                    html+='<b>Cinsiyet</b> <a class="pull-right">'+teacher.gender+'</a></li>';
                    html+=' <li class="list-group-item">';
                    html+='<b>E-Mail</b> <a class="pull-right">'+teacher.user.email+'</a></li>';
                    html+=' <li class="list-group-item">';
                    html+='<b>Etkin</b> <a class="pull-right">'+teacher.user.is_active+'</a></li>';
                    html+=' <li class="list-group-item">';
                    html+='<b>Kayıt Tarihi</b> <a class="pull-right">'+teacher.user.date_joined+'</a></li>';
                    html+=' <li class="list-group-item">';
                    html+='<b>En Son Login</b> <a class="pull-right">'+teacher.user.last_login+'</a></li></div></div></ul>';







                    $(".bodys").html(html);

                });

            $('.bd-example-modal-lg').modal('show');


            $(".bd-example-modal-lg").on("hidden.bs.modal", function () {
                // put your default event here
                $(".bodys").html("");
            });


        }
    </script>
{% endblock %}

