{% extends 'base_layout.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}
    <form action="{% url "wushu:help" %}" method="POST">

        {% csrf_token %}


        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <center><h1>Sık Sorulan Sorular </h1></center>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-12">

                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#soru1"
                                           aria-expanded="false" class="collapsed">
                                            1-Neden sporcularımız görünmüyor?
                                        </a>
                                    </h4>
                                </div>
                                <div id="soru1" class="panel-collapse collapse" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="box-body">
                                        Sayfa açıldıgında sporcuların hepsi gelmez, aranmak istediginiz sporculari
                                        görmek
                                        için arama filtresi girmeniz gerekir.

                                    </div>
                                </div>
                            </div>


                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#soru2"
                                           aria-expanded="false" class="collapsed">
                                            2-Bütün sporcuları nasıl görüntüleyebilirim?
                                        </a>
                                    </h4>
                                </div>
                                <div id="soru2" class="panel-collapse collapse" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="box-body">
                                        Arama kriteri girmeden arama butonuna basılarak bütün sporcular görülebilir.

                                    </div>
                                </div>
                            </div>


                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#soru3"
                                           aria-expanded="false" class="collapsed">
                                            3-Lisans reddedildi ne yapmalıyım?
                                        </a>
                                    </h4>
                                </div>
                                <div id="soru3" class="panel-collapse collapse" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="box-body">
                                        Reddedilme sebebini gidererek lisansı güncellerseniz lisans bilginiz yeniden
                                        kontrole gönderilir.
                                        (Sporcu -> Sporcu listesi-> Ara -> Sporcu incele -> lisans bilgileri güncelle )
                                        adımlari ile yapabilirsiniz.

                                    </div>
                                </div>
                            </div>


                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#soru4"
                                           aria-expanded="false" class="collapsed">
                                            4-Neden lisans fotografını sisteme yüklüyoruz?
                                        </a>
                                    </h4>
                                </div>
                                <div id="soru4" class="panel-collapse collapse" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="box-body">
                                        Sisteme girilen bilgiler ögrencinin lisans bilgilerine bakılarak kontrol
                                        ediliyor.

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>


{% endblock %}