{% extends 'base_layout.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}

    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-success fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Beklemede olan bütün kayıtlar degistirilsin mi? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <section class="content">

        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lisans Listesi</h3>
                    </div>
                    {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                        <a onclick="onay()" type="button" class="btn btn-success">
                            <i class="fa fa-edit"></i>
                            Hepsini Onayla
                        </a>
                        <a onclick="reddet()" type="button" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                            Hepsini Reddet
                        </a>
                    {% endif %}

                    <div class="box-body">
                        <table id="licenses" class="table">

                            <thead>
                            <tr>
                                <th>#</th>
                                <th>İsim Soyisim</th>
                                <th>Kulüp</th>
                                <th> Başlama Tarihi</th>
                                <th> Bitiş Tarihi</th>
                                <th> Branş</th>
                                <th> Lisans No</th>
                                <th> Lisans Foto.</th>
                                <th> Onay Durumu</th>
                                    {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                                <th> İşlemler</th>
                                     {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% if licenses.all %}
                                {% for license in licenses %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ license.athlete_set.first }}</td>
                                        <td>{{ license.sportsClub }}</td>
                                        <td>{{ license.startDate }}  </td>
                                        <td>{{ license.expireDate }}  </td>
                                        <td>{{ license.branch }}  </td>
                                        <td>{{ license.licenseNo }}  </td>
                                         <td><a href="/media/{{ license.lisansPhoto }}" target="_blank"> <img
                                                    src="/media/{{ license.lisansPhoto }}" class="user-image" alt="None"
                                                    style=" width: 30px;height: 30px;"></a></td>
                                        <td> {{ license.status }}

                                            {% if  license.status == 'Reddedildi' %}
                                          (  {{ license.reddetwhy }})
                                            {% endif %}
                                        </td>

                                        <td>

                                            <div class="btn-group">


                                                {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
                                                    <a href="{% url "wushu:sporcu-lisans-listesi-onayla" license_pk=license.pk %}"
                                                       type="button" class="btn btn-success"><i
                                                            class="fa fa-edit"></i>Onayla
                                                    </a>
                                                    <a href="{% url "wushu:sporcu-lisans-listesi-reddet" license_pk=license.pk %}"
                                                       type="button" class="btn btn-danger"><i
                                                            class="fa fa-trash"></i>Reddet
                                                    </a>
                                                    {% endif %}



                                                    </div>

                                        </td>


                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <script>


        $(function () {
            $('#licenses').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })

        });


    </script>
    {% if user.groups.all.0.name == 'Yonetim' or user.groups.all.0.name == 'Admin' %}
        <script>

            function onay() {
                var html = '';
                $("#modal-danger").on("shown.bs.modal", function (e) {
                    $("#btn-conf").click(function () {
                        $.ajax({
                            url: "{% url "wushu:sporcu-lisans-hepsini-onayla"%}".replace(),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                isActive: 'False'
                            },
                            success: function (result) {

                                html = 'Lisansların hepsi başarı ile onaylandı.';
                                debugger;
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "wushu:lisans-listesi"%}");

                                    });

                                }).modal('show');


                                console.log(result.status)
                            }
                        });
                    });
                }).modal('show');
                $('#btn-close').click(function () {
                    $('#modal-danger').modal('hide');
                });
            }


        </script>
        <script>


            function reddet() {

                console.log("reddet çalisti");
                var html = '';
                $("#modal-danger").on("shown.bs.modal", function (e) {
                    $("#btn-conf").click(function () {
                        $.ajax({
                            url: "{% url "wushu:sporcu-lisans-hepsini-reddet"%}".replace(),
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                isActive: 'False'
                            },
                            success: function (result) {

                                html = 'Lisanslarin hepsi başarı ile reddedildi.';
                                debugger;
                                $(".successModal").html(html);
                                $('#modal-success').on("shown.bs.modal", function (e) {
                                    $(".btn-ok").click(function () {

                                        window.location.replace("{% url "wushu:lisans-listesi"%}");

                                    });

                                }).modal('show');


                                console.log(result.status)
                            }
                        });
                    });
                }).modal('show');
                $('#btn-close').click(function () {
                    $('#modal-danger').modal('hide');
                });

            }
        </script>

    {% endif %}
{% endblock %}

